:root{
  --backgroundPage: #F5F5F5;
  --sectionColor: #EAF2FD;
  --colorCard: #fff;
  --primaryColor: #fff;
  --textColor1: #464646;
  --btnColor: #2a7ae4;
  --fontType1: 'Raleway', sans-serif;
  --labelColor : #a2a2a2;
}
*{
  box-sizing: border-box;
}
.bodyPage{
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--fontType1);
  font-weight: 400;
  font-size: 14px;
  background-color: var(--backgroundPage);
  color: var(--textColor1);
}
.navbar{
  max-width: 1136px;
  margin: auto ;
}
.navbar__list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar__item--bold{
  font-weight: bold;
}
.navbar__starsImg{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url(/assets/img/vector.png);
}
.navbar__link{
  color: var(--textColor1);
  font-size: 1rem;
}
.subList__item{
  display: none;
}
.subList__item--block--bold{
  display: block;
  font-weight: bold;
}
.subList__link{
  color: var(--textColor1);
}
.mainContent{
  display: grid;
  grid-template-columns: repeat(autofill, minmax(max(100%, 200px) 1f));
  max-width: 1440px;
  margin-inline: auto ;
}
/* sección de presentación */
.sectionPresentation{
  padding: 1rem;
}
.sectionPresentation__myPhoto{
  width: 6.125rem;
  height: 6.125rem;
}
.sectionPresentation__title{
  font-size: 1.375rem;
  line-height: 1.614rem;
  font-weight: 700;
}
.sectionPresentation__description{
  line-height: 1.028rem;
}
.socialMedia{
  max-width: 467px;
  display: flex;
  justify-content:space-between ;
}
.socialMedia__link{
  font-weight: 500;
  color: black;
}
.socialMedia__item:hover .socialMedia__icon{
  transform: scale(1.2) translateZ(0.2rem) translateX(0.2rem) translateY(-0.3rem);
  transition: transform 0.2s linear;
}

/* sección sobre mí */
.sectionAboutMe{
  padding: 1rem;
  background-color: var(--sectionColor) ;
}
.sectionAboutMe__content{
  max-width: 751px;
}
.sectionAboutMe__mySignature{
  width: 8.75rem;
  height: 3.25rem;
}

/* sección habilidades  y hobbies*/
.sectionSkills,
.sectionHobbies{
  padding: 1rem;
}
.sectionSkills__title,
.sectionHobbies__title{
  text-align: center;
}
.gallery{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap:  2rem 1rem;
}
.gallery__card{
  flex: 1 1 172px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  height: 7.375rem;
  padding: 1rem;
  background-color: var(--colorCard);
}
.gallery__img{
  width: 2rem;
  line-height: 2.3rem;
}
.gallery__description{
  font-size: 1rem;
  font-weight: 700;
}

/* sección de estudios */
.sectionStudy{
  padding: 2rem;
  background-color: var(--sectionColor);
}
.sectionStudy__title{
  text-align: center;
}
.sectionStudy__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem 0.63rem;
}
.studyCard{
  flex: 0 1 min(18.5rem, 100%);
  height:10.563rem ;
  padding: 1rem;
}
.card__containerImg{
  width: 18.5rem;
  height: 7.375rem;
  background-color: var(--colorCard);
}
.card__img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.25rem;
  height: 3.625rem;
}
.card__title{
  margin: 0.75rem 0;
  font-weight: 700;
}
.card__info{
  margin: 0.75rem 0;
  font-weight: 400;
}

/* sección de experiencia laboral */
.workSection{
  padding: 2rem;
}
.workSection__title{
  text-align: center;
}
.workSection__containerWork{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
  gap: 4rem;
}
.containerWork{
  width: 18.5rem;
  display: flex;
  flex-flow: row wrap;
}
.containerWork__img{
  width: 100%;
  background-color: gray;
  object-fit: cover;
}
.containerWork__title{
  font-size: 16px;
  width: 100%;
  margin: 0.5rem 0;
}
.containerWork__info{
  display: block;
  padding: 0.4rem 0;
}
.containerWork__containerBtn{
  display: flex;
  width: 100%;
  height: 40px;
  gap: 1rem;
}
.containerBtn__btn{
  width: 108px;
  height: 100%;
  font-weight: 600;
  border: solid 1px var(--btnColor);
  color:var(--btnColor) ;
  cursor: pointer;
}
.containerBtn__btn--bgBlue{
  color: var(--primaryColor);
  background-color: var(--btnColor);
}
/* sección de contacto */
.contactsSection{
  background-color: var(--sectionColor) ;
  padding: 2rem;
}
.contactsSection__title{
  margin: 1rem 0;
}
.contactsSection__Info{
  margin: 1rem 0 0 1.5rem;
}
.contactsSection__answer{
  margin: 0;
}
.form{
  display: flex;
  flex-flow: row wrap;
  gap: 2rem 0;
}
.form__containerQuestion{
  position: relative;
  width: 100%;
}
.form__containerQuestion:hover .form__question{
  font-size: 12px;
  padding: 0.2rem 1rem;
  transition: 0.3s linear;
  color: var(--btnColor);
}
.form__question{
  position: absolute;
  padding: 1rem;
  color: var(--labelColor);
}
.form__answer{
  width: 100%;
  padding: 1.3rem 1rem 1rem 1rem;
  border: none;
}
.form__btn{
  padding: 0.75rem 1rem 0.75rem 1rem;
  background-color: var(--btnColor);
  border: none;
  color: var(--primaryColor);
  font-weight: 600;
}

/* sección de pie de página */
.footerPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 102px;
}
.footerPage__author{
  margin: 0.3rem;
}
.footerPage__date{
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .navbar__list{
    padding: 2rem;
  }
  .subList__item{
    font-size: 1rem;
  }
  /* sección de presentación */
  .sectionPresentation{
    padding: 2rem ;
  }
  .sectionPresentation__myPhoto{
    position: absolute;
    right: 34px;
    width: 146px;
    height: auto;
  }
  .sectionPresentation__title{
    width: 524px;
  }
  .sectionPresentation__description{
    width: 524px;
    font-size: 1rem;
  }
  .socialMedia{
    width: 524px;
    font-size: 1rem;
  }

  /* sección sobre mí */
  .sectionAboutMe{
    padding: 2rem;
  }

  /* sección habilidades  y hobbies*/
    .sectionSkills,
    .sectionHobbies{
    padding: 2rem;
  }
  .gallery{
    justify-content: space-between;
  }
  .gallery__card{
    flex: 0 1 min(220px, 35%);
  }

  /* sección de estudios */
  .sectionStudy__container{
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: 1rem;
  }
  .studyCard{
    height:auto;
    padding: 0;
  }
  .card__containerImg{
    width: 100%;
  }
  /* sección de experiencia laboral */
  .workSection__containerWork{
    padding: 0rem;
  }
  .containerWork{
    width: 100%;
  }
}

@media screen and (min-width: 1440px){
  .navbar__item--bold{
    font-weight: bold;
  }
  .navbar__subList{
    display: flex; 
    gap: 2rem;
  }
  .subList__item{
    display: block;
  }
  .sectionAboutMe__content{
    max-width: 751px;
  }
  .sectionPresentation__title{
    font-size: 3.25rem;
    line-height: 4.06rem;
    font-weight: 700;
  }
  /* sección sobre mí */
  .sectionAboutMe{
    padding: 4rem 9.5rem;
  }
  .sectionAboutMe__title{
    font-size: 2rem;
  }
/* sección habilidades  y hobbies*/
  .sectionSkills,
  .sectionHobbies{
    padding: 2rem 9.5rem;
  }
  .sectionSkills__title,
  .sectionHobbies__title{
    font-size: 32px;
  }
  .gallery__card{
    height: 174px;
    flex: 1 1 max(160px, 10%);
  }
  /* sección de estudios */
  .sectionStudy{
    padding: 4rem 9.5rem;
  }
  .sectionStudy__title{
    font-size: 2rem;
  }
  .studyCard{
    height:initial;
  }
  .card__containerImg{
    width: 368px;
    height: 286px;
  }
  .card__img{
    width: 192px;
    height: 130px;
  }
  /* sección de experiencia laboral */
  .workSection{
    padding: 1rem 9.5rem;
  }
  .workSection__title{
    font-size: 2rem;
  }
  .sectionStudy__title{
    text-align: center;
  }
  .sectionStudy__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 2rem 0.63rem;
  }
  .studyCard{
    flex: 0 1 min(18.5rem, 100%);
    height:10.563rem ;
    padding: 1rem;
  }
  .card__containerImg{
    width: 18.5rem;
    height: 7.375rem;
    background-color: var(--colorCard);
  }
  .card__img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5.25rem;
    height: 3.625rem;
  }
  .card__title{
    margin: 0.75rem 0;
    font-weight: 700;
  }
  .card__info{
    margin: 0.75rem 0;
    font-weight: 400;
  }
  
  /* sección de experiencia laboral */
  .workSection{
    padding: 2rem;
  }
  .workSection__title{
    text-align: center;
  }
  
  .workSection__containerWork{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    gap: 4rem;
  }
  .containerWork{
    width: initial;
    display: flex;
    flex-flow: row ;
    align-items: center;
    gap: 1rem;
  }
  .containerWork__img{
    max-width:750px ;
    background-color: gray;
    object-fit: cover;
  }
  .containerWork__title{
    font-size: 16px;
    width: 100%;
    margin: 0.5rem 0;
  }
  .containerWork__info{
    display: block;
    padding: 0.4rem 0;
  }
  .containerWork__containerBtn{
    display: flex;
    width: 100%;
    height: 40px;
    gap: 1rem;
  }
  .containerBtn__btn{
    width: 108px;
    height: 100%;
    font-weight: 600;
    border: solid 1px var(--btnColor);
    color:var(--btnColor) ;
    cursor: pointer;
  }
  .containerBtn__btn--bgBlue{
    color: var(--primaryColor);
    background-color: var(--btnColor);
  }












  /* sección de contacto */
  .contactsSection{
    padding: 2rem 9.5rem;
  }
  .contactsSection__title{
    font-size: 2rem;
  }
}