:root{
  --backgroundPage: #F5F5F5;
  --sectionColor: #EAF2FD;
  --colorCard: #fff;
  --primaryColor: #fff;
  --textColor1: #464646;
  --btnColor: #2a7ae4;
  --fontType1: 'Raleway', sans-serif;
  --labelColor : #a2a2a2;
}
*{
  box-sizing: border-box;
}
.bodyPage{
  max-width: 90rem;
  margin: 0 auto;
  font-family: var(--fontType1);
  font-weight: 400;
  font-size: 0.875rem;
  background-color: var(--backgroundPage);
  color: var(--textColor1);
  overflow-x: hidden;
}
.navbar{
  width: 100%;
  margin: auto ;
}
.navbar__list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar__item--bold{
  font-weight: bold;
}
.navbar__starsImg{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url(/assets/img/vector.png);
}
.navbar__link{
  color: var(--textColor1);
  font-size: 1rem;
}
.subList__item{
  display: none;
}
.subList__item--block--bold{
  display: block;
  font-weight: bold;
}
.subList__link{
  color: var(--textColor1);
}
.mainContent{
  display: grid;
  grid-template-columns: repeat(autofill, minmax(max(100%, 12.5rem) 1f));
  max-width: 90rem;
  margin-inline: auto ;
}
/* sección de presentación */
.sectionPresentation{
  padding: 1rem;
}
.sectionPresentation__myPhoto{
  width: 6.125rem;
  height: 6.125rem;
}
.sectionPresentation__title{
  font-size: 1.375rem;
  line-height: 1.614rem;
  font-weight: 700;
}
.sectionPresentation__description{
  line-height: 1.028rem;
}
.socialMedia{
  max-width: 29.1875rem;
  display: flex;
  justify-content:space-between ;
}
.socialMedia__link{
  font-weight: 500;
  color: black;
}
.socialMedia__item:hover .socialMedia__icon{
  transform: scale(1.2) translateZ(0.2rem) translateX(0.2rem) translateY(-0.3rem);
  transition: transform 0.2s linear;
}

/* sección sobre mí */
.sectionAboutMe{
  padding: 1rem;
  background-color: var(--sectionColor) ;
}
.sectionAboutMe__content{
  max-width: 46.9375rem;
}
.sectionAboutMe__mySignature{
  width: 8.75rem;
  height: 3.25rem;
}

/* sección habilidades  y hobbies*/
.sectionSkills,
.sectionHobbies{
  padding: 1rem;
}
.sectionSkills__title,
.sectionHobbies__title{
  text-align: center;
}
.gallery{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap:  2rem 1rem;
}
.gallery__card{
  flex: 1 1 10.75rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  height: 7.375rem;
  padding: 1rem;
  background-color: var(--colorCard);
}
.gallery__img{
  width: 2rem;
  line-height: 2.3rem;
}
.gallery__description{
  font-size: 1rem;
  font-weight: 700;
}

/* sección de estudios */
.sectionStudy{
  padding: 2rem;
  background-color: var(--sectionColor);
}
.sectionStudy__title{
  text-align: center;
}
.sectionStudy__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem 0.63rem;
}
.studyCard{
  flex: 0 1 min(18.5rem, 100%);
  height:10.563rem ;
  padding: 1rem;
}
.card__containerImg{
  width: 18.5rem;
  height: 7.375rem;
  background-color: var(--colorCard);
}
.card__img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.25rem;
  height: 3.625rem;
}
.card__title{
  margin: 0.75rem 0;
  font-weight: 700;
}
.card__info{
  margin: 0.75rem 0;
  font-weight: 400;
}

/* sección de experiencia laboral */
.workSection{
  padding: 2rem;
}
.workSection__title{
  text-align: center;
}
.workSection__containerWork{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
  gap: 4rem;
}
.containerWork{
  width: 18.5rem;
  display: flex;
  flex-flow: row wrap;
}
.containerWork__img{
  width: 100%;
  background-color: gray;
  object-fit: cover;
}
.containerWork__title{
  font-size: 1rem;
  width: 100%;
  margin: 0.5rem 0;
}
.containerWork__info{
  display: block;
  padding: 0.4rem 0;
}
.containerWork__containerBtn{
  display: flex;
  width: 100%;
  height: 2.5rem;
  gap: 1rem;
}
.containerBtn__btn{
  width: 6.75rem;
  height: 100%;
  font-weight: 600;
  border: solid 0.0625rem var(--btnColor);
  color:var(--btnColor) ;
  cursor: pointer;
}
.containerBtn__btn--bgBlue{
  color: var(--primaryColor);
  background-color: var(--btnColor);
}
/* sección de contacto */
.contactsSection{
  background-color: var(--sectionColor) ;
  padding: 2rem;
}
.contactsSection__title{
  margin: 1rem 0;
}
.contactsSection__Info{
  padding: 0 0 1.5rem 0;
  font-weight: 500;
}
.contactsSection__answer{
  margin: 0;
}
.form{
  display: flex;
  flex-flow: row wrap;
  gap: 2rem 0;
}
.form__containerQuestion{
  width: 100%;
  position: relative;
}
.form__containerQuestion:hover .form__question{
  font-size: 0.75rem;
  padding: 0.2rem 1rem;
  transition: 0.3s linear;
  color: var(--btnColor);
}
.form__question{
  position: absolute;
  padding: 1rem;
  color: var(--labelColor);
}
.form__answer{
  width: 100%;
  padding: 1.3rem 1rem 1rem 1rem;
  border: none;
  border-radius: 0.25rem;
}
.form__answer:hover{
  box-shadow: 0px 2px 0px  rgba(42,122,228,1);
}
.form__answer--reziseNone{
  resize: none;
}
.form__btn{
  padding: 0.75rem 1rem 0.75rem 1rem;
  background-color: var(--btnColor);
  border: none;
  color: var(--primaryColor);
  font-weight: 600;
}
.contactsSection__img{
  display: none;
}

/* sección de pie de página */
.footerPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6.375rem;
}
.footerPage__author{
  margin: 0.3rem;
}
.footerPage__date{
  font-weight: bold;
}

@media screen and (min-width: 48rem) {
  .subList__item{
    font-size: 1rem;
  }

  /* sección de presentación */
  .sectionPresentation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
  }
  .sectionPresentation__myPhoto{
    width: max(9.125rem, 25%);
    height: auto;
  }
  .sectionPresentation__title{
    width: 32.75rem;
  }
  .sectionPresentation__description{
    width: max(32.75rem, 50vw);
    font-size: 1rem;
  }
  .socialMedia{
    width: 32.75rem;
    font-size: 1rem;
  }

  /* sección sobre mí */
  .sectionAboutMe{
    padding: 2rem;
  }

  /* sección habilidades  y hobbies*/
  .sectionSkills,
  .sectionHobbies{
  padding: 2rem;
  }
  .gallery__card{
    flex: 0 1 30%;
  }

  /* sección de estudios */
  .sectionStudy__container{
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: 1rem;
  }
  .studyCard{
    height:auto;
    padding: 0;
  }
  .card__containerImg{
    width: 100%;
  }
  /* sección de experiencia laboral */
  .workSection__containerWork{
    padding: 0rem;
  }
  .containerWork{
    width: 100%;
  }
}

@media screen and (min-width: 90rem){
  .navbar{
    padding: 0rem 9.5rem;
  }
  .navbar__list{
    padding: initial;
  }
  .navbar__item--bold{
    font-weight: bold;
  }
  .navbar__subList{
    display: flex; 
    gap: 2rem;
  }
  .subList__item{
    display: block;
  }

  /* sección presentación */
  .sectionPresentation{
    padding: 4rem 9.5rem;
  }
  .sectionPresentation__myPhoto{
    width: 23rem;
    height: 23rem;
  }
  .sectionPresentation__title{
    width: 46.9375rem;
    font-size: 3.25rem;
    line-height: 4.06rem;
    font-weight: 700;
  }
  .sectionPresentation__description{
    width: 32.75rem;
    font-size: 1rem;
  }

  /* sección sobre mí */
  .sectionAboutMe{
    padding: 4rem 9.5rem;
  }
  .sectionAboutMe__title{
    font-size: 2rem;
  }
  /* sección habilidades  y hobbies*/
  .sectionSkills,
  .sectionHobbies{
    padding: 2rem 9.5rem;
  }
  .sectionSkills__title,
  .sectionHobbies__title{
    font-size: 2rem;
  }
  .gallery__card{
    height: 10.875rem;
    flex: 1 1 max(10rem, 10%);
  }
  /* sección de estudios */
  .sectionStudy{
    padding: 4rem 9.5rem;
  }
  .sectionStudy__title{
    font-size: 2rem;
  }
  .studyCard{
    height:initial;
  }
  .card__containerImg{
    width: 23rem;
    height: 17.875rem;
  }
  .card__img{
    width: 12rem;
    height: 8.125rem;
  }
  /* sección de experiencia laboral */
  .workSection{
    padding: 2rem 9.5rem;
  }
  .workSection__title{
    font-size: 2rem;
  }
  .containerWork{
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
  .containerWork--rowReverse{
    flex-direction: row-reverse;
  }
  .containerWork__img{
    max-width:46.875rem ;
  }
  .containerWork__data{
    width: 22.5rem;
  }
  .containerWork__title{
    font-size: 1.375rem;
  }
  .containerWork__info{
    font-size: 1rem;
  }
  .containerWork__containerBtn{
    height: 3.1875rem;
  }
  .containerBtn__btn{
    font-weight: 400;
  }

  /* sección de contacto */
  .contactsSection{
    padding: 2rem 9.5rem;
    display: flex;
    flex-flow: row-reverse;
    gap: 1rem;
  }
  .contactsSection__title{
    font-size: 2rem;
  }
  .form__btn{
    padding: 1rem;
    font-weight: 400;
  }
  .contactsSection__img{
    display: block;
  }
}